html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #749d38;
  --color-primary-light: #9ad14b;
  --color-secondary: #61389d;
  --color-secondary-light: #824bd1;
  --spacing-padding-section: 0 6.7% 0 6.7%;
}
